[submodule "dep/std"]
	path = dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "dep/crypto"]
	path = dep/crypto
	url = https://github.com/briar-systems/mach-crypto
[submodule "dep/http"]
	path = dep/http
	url = https://github.com/briar-systems/mach-http
[submodule "demo/dep/std"]
	path = demo/dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "demo/dep/crypto"]
	path = demo/dep/crypto
	url = https://github.com/briar-systems/mach-crypto
[submodule "demo/dep/http"]
	path = demo/dep/http
	url = https://github.com/briar-systems/mach-http
[submodule "demo/dep/tls"]
	path = demo/dep/tls
	url = https://github.com/briar-systems/mach-tls
[submodule "demo/dep/quic"]
	path = demo/dep/quic
	url = https://github.com/briar-systems/mach-quic
[submodule "demo/dep/acme"]
	path = demo/dep/acme
	url = https://github.com/briar-systems/mach-acme
[submodule "demo/dep/hedge"]
	path = demo/dep/hedge
	url = https://github.com/briar-systems/hedge
[submodule "doc/bench/laurel/dep/std"]
	path = doc/bench/laurel/dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "doc/bench/laurel/dep/crypto"]
	path = doc/bench/laurel/dep/crypto
	url = https://github.com/briar-systems/mach-crypto
[submodule "doc/bench/laurel/dep/http"]
	path = doc/bench/laurel/dep/http
	url = https://github.com/briar-systems/mach-http
[submodule "doc/bench/laurel/dep/tls"]
	path = doc/bench/laurel/dep/tls
	url = https://github.com/briar-systems/mach-tls
[submodule "doc/bench/laurel/dep/quic"]
	path = doc/bench/laurel/dep/quic
	url = https://github.com/briar-systems/mach-quic
[submodule "doc/bench/laurel/dep/acme"]
	path = doc/bench/laurel/dep/acme
	url = https://github.com/briar-systems/mach-acme
[submodule "doc/bench/laurel/dep/hedge"]
	path = doc/bench/laurel/dep/hedge
	url = https://github.com/briar-systems/hedge
